@import "fonts";
@import "rouge-github";

// Main wrappers
body {
  overflow-x: hidden;
  margin-left: calc(100vw - 100%);
  padding: 50px;
  background-color: #fff;
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

.wrapper {
  margin: 0 auto;
  width: 1100px;
}

header {
  width: 260px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

section, footer {
  float: right;
  width: 740px;
}

footer {
  padding-bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Menu
.main-menu-checkbox, .menu-toggle, .main-menu-close {
  display: none;
}

// Header
.title a {
  color: #111;
}

.author-names {
  margin: 0 0 5px;
}

.main-menu .subpage-links {
  margin: 0 0 20px;
}

.main-menu .link-button:hover, .main-menu .link-button:focus {
  background: #eee;
}

// Video player
.video-container {
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.video-inner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Special classes
.caption {
  margin-top: -15px;
  text-align: center;
}

.caption-above {
  margin-bottom: 5px;
  text-align: center;
}

.switch-on-hover .hide-on-hover {
  display: inline-block;
}

.switch-on-hover .show-on-hover {
  display: none;
}

.switch-on-hover:hover .hide-on-hover {
  display: none;
}

.switch-on-hover:hover .show-on-hover {
  display: inline-block;
}

// Main components
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl, audio {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
  color: #111;
}

h1 {
  font-size: 28px;
}

h4, h5, h6 {
  color: #222;
}

small {
  font-size: 11px;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #267CB9;
}

a:not(.nohover):hover, a:not(.nohover):focus {
  text-shadow: 0 0.015em #069,0 -0.015em #069,0.01em 0 #069,-0.01em 0 #069;
  color: #069;
}

footer small a {
  color: #555;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
}

pre {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 8px 15px;
  background: #f8f8f8;
  overflow-x: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table audio, table .video-container {
  margin: 0;
}

th, td {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 10px;
  text-align: left;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img, audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  max-width: 600px;
}

audio {
  max-width: 100%;
}

hr {
  margin: 0 0 20px;
  border: 0;
  height: 1px;
  background: #e5e5e5;
}

footer hr {
  margin: 15px 0 0;
}

@media print, screen and (max-width: 1200px) {
  .wrapper {
    width: 860px;
  }

  header {
    width: 260px;
  }

  section, footer {
    width: 560px;
  }

  ul {
    padding-left: 20px;
  }
}

@media print, screen and (max-width: 960px) {
  // Main wrappers
  .wrapper {
    margin: 0;
    width: auto;
  }

  header, section, footer {
    position: static;
    float: none;
    width: auto;
  }

  section {
    margin: 0 0 20px;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
  }

  // Menu
  .menu-toggle, .main-menu {
    position: absolute;
    right: 55px;
    top: 55px;
  }

  .menu-toggle {
    z-index: 998;
    display: block;
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
  }

  .menu-toggle:hover {
    color:#069;
  }

  .main-menu {
    z-index: 999;
    display: none;
    min-width: 120px;
    background: #eee;
  }

  .main-menu .link-button {
    padding: 5px 10px;
  }

  .main-menu .link-button:hover, .main-menu .link-button:focus, .main-menu-close:hover {
    background: #ddd;
  }

  .main-menu-close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    cursor: pointer;
  }

  .main-menu .subpage-links {
    margin: 0;
  }

  #main-menu-checkbox:checked ~ .main-menu {
    display: block;
  }

  #main-menu-checkbox:checked ~ .main-menu .main-menu-close {
    display: block;
    z-index: 1001;
  }

  #main-menu-checkbox:checked ~ .main-menu div {
    position: relative;
    z-index: 1000;
  }

  // Others
  .title {
    padding: 0 50px 0 0;
  }

  .author-info {
    font-size: small;
  }

  .author-info br {
    display: none;
  }

  .author-affiliations {
    margin: 0 0 5px;
  }

  hr {
    height: 0;
    border: 0;
    background: #fff;
    margin: 0;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  footer {
    padding-bottom: 15px;
  }

  .menu-toggle, .main-menu {
    right: 20px;
    top: 20px;
  }
}

@media print, screen and (max-height: 600px) {
  .author-info br {
    display: none;
  }

  .main-menu .subpage-links {
    margin: 0;
  }
}

@media print, screen and (max-height: 480px) {
  body {
    padding: 15px;
  }

  footer {
    padding-bottom: 15px;
  }

  .menu-toggle, .main-menu {
    right: 20px;
    top: 20px;
  }

  .author-info {
    font-size: small;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }

  ul {
    padding-left: 20px;
  }
}
